@font-face {
	font-family: 'OpenSansBold';
	src: url('../css/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../css/OpenSans-Light.ttf');
}


h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
}

p, table {
    margin-bottom: 1em;
}

.lib {
	margin-bottom: 2.5em;
	margin-top: 2.5em;
	line-height: 1.6;
}

spec {
    font-family: Courier, "Courier New", Monaco, Tahoma;
}

ol, ul {
    padding-left: 30px;
    margin-bottom: 1em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background: #eee;
    padding: 20px;
    margin-bottom: 1em;
    overflow: auto;
}

blockquote {
    font-style: italic;
    margin: 0 0 1em 15px;
    padding-left: 10px;
    border-left: 5px solid #dddddd;
}

#header {
	font-family: "OpenSansBold";
	font-size: 7em;
	
	padding: 2% 2% 2% 24%;
}
#header a {
	text-decoration:none;
	color: #000;
	font-weight: bold;
}

#content {
    flex: 1;
    height: fit-content;
	font-family: "OpenSansLight";
	padding: 2% 2% 2% 24%;
	line-height: 1.7;
	float: center;
	width: 70%;
    height: 100%;
    display: block;
}

.inner {
    flex-grow: 1;
}
   
.inner img {
	display: block;
	margin: auto;
        width:95%;
	margin-top: 30px;
    }
#navbar {
	font-family: "OpenSansLight";
	float: left;
	width: 20%;
	line-height:2em;
	border-right: 2px solid #d8d8d8;
	height:auto;
	min-height:300px;
	text-align:right;
	padding-right: 15px;
	padding-top: 30px;
	position: fixed;
    height: 100%;
    position: fixed;
}

#navbar ul {
	list-style-type:none;
}
#navbar a {
	text-decoration:none;
	color: #000
}

#footer {
	font-family: "OpenSansLight";
    font-size: smaller;
    padding-left: 3%;
    clear: both;
    text-align: left;
    background: #333; /* Dark footer */
    color: white;
    width: 100%;
    min-height: 50px;
    padding: 30px;
    margin-top: auto;
    z-index:1;
}
#footer a {
	color: #FFFFFF;
}

/* CSS I understand */
a, a:visited {
    color: #000;
    text-decoration: underline;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover, a:active {
    color: #6a6a6a;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
}

p, table {
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 30px;
    margin-bottom: 1em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", Monaco, Tahoma;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background-color: #1e1e1e; /* Dark gray, similar to VS Code */
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    overflow-x: auto; /* Enable horizontal scrolling */

/* Make text readable on dark background */
code {
    color: #ffffff; /* Light text */
    background-color: #1e1e1e;
}

.import {
    color: #ffb86c; /* Orange */
}

.keyword {
    color: #ff79c6; /* Pink */
}

/* Style data types (string, bool, int, float, etc.) in light blue */
.datatype {
    color: #8be9fd; /* Light Blue */
}

/* Style constants (variable names like movimento, countryOfArrival, etc.) in light blue */
.constant {
    color: #8be9fd; /* Light Blue */
}

.comment {
    color: #b0b0b0;
}

.string {
    color: #d7875f;
}
}

blockquote {
    font-style: italic;
    margin: 0 0 1em 15px;
    padding-left: 10px;
    border-left: 5px solid #dddddd;
}


@font-face {
	font-family: 'OpenSansBold';
	src: url('../css/OpenSans-Bold.ttf');
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../css/OpenSans-Light.ttf');
}

/* CSS I dont understand */

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

header, aside, nav, footer {
	flex: 1 100%;
}

header {
	display: flex;
	font-size: 3em;
	font-family: "OpenSansBold";

}
header * {
    -webkit-flex: 1 1 0%;
        flex: 1 1 0%;
}
header img {
        -webkit-flex: 0 0 150px;
        flex: 0 0 150px;
        margin-right: 20px;
}
header nav {
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
}
nav, nav ul, nav li{
        margin: 0;
        padding:0;
        border:none;
}
nav ul {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        display: flex;
        flex-direction: row;
		flex-wrap: wrap;
        justify-content: flex-start;

}
nav li {
        list-style-type:none;
        margin: 0;
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
		line-height: 1.5em;
}
nav a {
		  text-decoration: none;
		  color: #000;
}
article {
}

article a {
		color: #808080;
		text-decoration: underline;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
}
article a:visited {
		color: #808080;
		text-decoration: underline;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
}

article a:hover, a:active {
		color: #000;
		text-decoration: underline;
	}

    aside {
		text-align: center;
		border-bottom: 2px solid #d8d8d8;
}
footer {

		font-size: smaller;

}
footer * {
        -webkit-flex: 1 1 0%;
        -webkit-justify-content: space-between;
        flex: 1 1 0%;
}
footer a {
	color: #FFFFFF;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take remaining space */
    padding: 2% 2% 2% 24%; /* Adjust padding for navbar */
    line-height: 1.7;
    overflow: auto; /* Allow content to scroll if it overflows */
}

@media all and (min-width: 35em) {
	article {
		flex: 3 1 0%;
		margin-top: 170px;
		margin-left: 22%;
		padding: 2% 15% 2% 2%;
	}

	aside {
		flex: 1 1 0%;
		margin-top: 170px;
		text-align: right;
		position: fixed;
		width: 18%;
		padding: 2%;
		border-right: 2px solid #d8d8d8;
		border-bottom: 0px;

	}

	header {
		display: flex;
		flex-flow: row wrap;
		font-size: 6em;
		padding: 2% 2% 2% 2%;
		background-color: #fff;
		position: fixed;
		margin-left: 20%;
		width: 100%;
		transition: all 0.5s;
	}

	header.smaller {
		font-size: 3em;
		
	}

	.header-wrapper {
		display: flex;
		flex-flow: row wrap;
		position: relative;

	}

	header * {
		flex: 1 1 0%;
	}

	header img {
		flex: 0 0 400px;
		margin-right: 50px;
	}

	aside nav {
		flex: 1 1 100%;
	}

	nav, nav ul, nav li {
		margin: 0;
		padding: 0;
		border: none;
	}

	nav ul {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}

	nav li {
		list-style-type: none;
		margin: 0 0px;
	}
	
	nav li.active {
		font-weight: bold;
	}
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1; /* Take remaining space */
    padding: 2% 2% 2% 24%; /* Adjust padding for navbar */
    line-height: 1.7;
    overflow: auto; /* Allow content to scroll if it overflows */
}

#menu-icon {
        display: none;    
    }

@media (max-width: 768px) {
    html, body {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        height: 100%;
    }

   #navbar {
       width: 100%;
        height: 50px; 
        min-height: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: #333;
        color: white;
        padding: 10px;
        text-align: left; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: height 0.3s ease;
    }


    #navbar ul {
        display: none; /* Initially hidden */
        flex-direction: column;
        background: #333;
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        padding: 0;
        margin: 0;
    }

    #navbar.show {
        height: auto; /* Expand when menu is open */
    }

    #navbar ul.show {
        display: flex;
        padding: 20px;
    }

    #navbar li {
        list-style-type:none;
        margin: 0;
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%;
		line-height: 2em;
    }

    #navbar a {
		  text-decoration: none;
		  color: white;
    }

    #menu-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
    }

    #content {
        flex: 1!important;
        height: fit-content;
        margin-left: 0;
        padding: 30px;
        margin-top: 60px; /* Default height for closed navbar */
        transition: margin-top 0.3s ease; /* Smooth transition */
        width: 80%;
        margin-bottom: 0; 
        min-height: 100%;
    }

    #navbar.show + #content {
        margin-top: 300px; /* Adjust when menu expands */
        margin-bottom: 90px;
    }
    #footer {
        margin-top: auto; /* Footer stays at the bottom */
    }
}
